.outerDiv {
  padding: 10px;
}

.row {
  padding: 10px;
  /* width: 500px;
  height: 500px; */
}

.image {
  height: 200px;
  min-width: 70%;
  display: flex;
}

.rowOuterDiv {
  /* width: 100%;
  max-height: 100%; */
  display: block;
}

.proceedToBuy {
  background-color: white;
  border-color: gray;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 3px 5px 10px 5px;
  min-width: 100%;
}

.discount {
  color: red;
}

.plusMinusQuantity {
  border-radius: 50%;
}
