.invite {
  color: white;
  /* background-color: rgb(13, 148, 153); */
  height: 60px;
  text-align: center;
  padding: 7px 0 10px 0;
  background: linear-gradient(to right, #b92b27 0%, #1565c0 100%);
  line-height: 40px;
}

.outerDiv {
  /* text-align: center; */
  padding: 0px 5px 10px 5px;
}

.breadcrumb {
  background-color: white !important;
  padding: 0px;
  color: black;
  margin-bottom: 0px;
}

.button {
  padding: 0px 0px !important;
  font-size: px;
}

.h4 {
  text-align: left;
  padding: 0px 0px 0px 15px;
}

.inviteButton {
  cursor: pointer;
  border-radius: 40px;
  /* padding: inherit; */
  height: 45px;
  line-height: 32px;
  margin-left: 10px;
}
